body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right bottom, grey, white);
    background-attachment: fixed;
}

.header {
    display: flex;
    margin: 0px;
    padding: 10px;
    justify-content: space-between;
    background-color: brown;
    align-items: center;
    opacity: .9;
}

a {
    text-decoration: none;
    color:aliceblue;
}

.header-link:hover {
    background-color: rgb(90, 0, 0);
}

.header-link {
    background-color: darkred;
    padding: 10px 25px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 10px;
}

.title {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
}

.speakers-body, .sponsors-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speakers-title, .sponsors-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 10px;
    border: 3px solid gray;
    width:600px;
    border-radius: 10px;
    text-align: center;
    padding:15px;

}

.speaker, .sponsor {
    display: flex;
    margin: 20px;
    width: 600px;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.speaker-name, .sponsor-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.speaker-para, .sponsor-para {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px;
}

img {
    width: 200px;
}

.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    margin: 10px;
}

.home-date {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.home-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 5px;
    width: 700px;
    font-weight: 550;
    border: 3px solid grey;
    padding: 15px;
    border-radius: 10px;
}

.home-main-card {
    display: flex;
    width:700px;
    margin: 10px;
    align-items: center;
    border: 3px solid grey;
    padding: 15px;
    padding-right: 25px;
    border-radius: 10px;
}

.home-main-info {
    display: flex;
    flex-direction: column;
}

#home-DJT-KH {
    width: 300px;
}

.home-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid grey;
    width:700px;
    padding: 15px;
    border-radius: 10px;
}

.home-schedule-title, .schedule-time, .schedule-desc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-schedule-title {
    font-size: 30px;
    font-weight: bolder;
}

.schedule-desc, .schedule-time {
    list-style: none;
    text-align: center;
    font-size: 20px;
}

.schedule-time {
    font-weight: bold;
}

.schedule-ul {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.faq-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin:10px;
    border: 3px solid gray;
    width: 700px;
    text-align: center;
    border-radius: 10px;
    padding:15px;
}

.faq-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    width: 700px;
    text-align: center;
    border: 3px solid gray;
    border-radius: 10px;
    padding:15px;
    gap:10px;

}

.faq-entry-question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.faq-entry-answer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}